<mat-toolbar class="colorToolbar">
    <button class="btnm-menu" mat-icon-button (click)="sidenav.toggle()" matTooltip="Menu" style>
      <mat-icon>menu</mat-icon>
    </button>
    <!--
    <img class="logo-prof" src="assets/img/profamilia.png" alt="">
    -->
    <span class="toolbar-item-spacer mt-1 title-toolbar">Prueba tecnica El Poli</span>
    <span class="example-spacer"></span>
    <span class="title-toolbar span-cargo">
      <mat-icon>account_circle</mat-icon>{{cargo}}</span>
  </mat-toolbar>
  
  <mat-drawer-container class="app-container">
    <mat-drawer #sidenav mode="over" [class.mat-elevation-z4]="true" class="app-sidenav" opened="true">
      <mat-nav-list class="nav-list">
        <div class="container-fluid mt-3 mb-3 text-center">
          <img class="logo-prof" src="img/logo-politecnico-grancolombiano-white.svg" alt="">
        </div>
        <mat-divider class="mb-3" style="width: 85%;margin: auto;"></mat-divider>
        <br>
        
        <mat-divider class="liniaDividir mb-4"></mat-divider>
        <mat-divider class="liniaDividir mb-4"></mat-divider>
        <mat-list-item class="items-menu" [routerLink]="['inicio']">
          <mat-icon>home</mat-icon><span class="mt-1">Inicio</span>
        </mat-list-item>
        
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>